<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test Suite" parallel="tests" thread-count="5">

	<!-- <test name="Galaxy8inch">
		<listeners>
			<listener class-name="com.qa.listeners.TestListener" />
		</listeners>
		<parameter name="author" value="Asido S" />
		<parameter name="emulator" value="false" />
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="9.0" />
		<parameter name="deviceName" value="SM-T295" />
		<parameter name="udid" value="R9CMC05NZ3J" />
		<parameter name="appiumPort" value="10000" />
		<parameter name="systemPort" value="10000" />
		<parameter name="chromeDriverPort" value="11000" />
		<parameter name="mjpegServerPort" value="12000" />
		<classes>
			<class name="com.qa.tests.ProfilTest">
				<methods>
					<include name="isiSemuaRowFooter"/>
				</methods> 
			 </class>
		</classes>
	</test>  -->
	
<!-- 	 <test name="Galaxy7inch" > -->
<!-- 		<listeners> -->
<!-- 			<listener class-name="com.qa.listeners.TestListener" /> -->
<!-- 		</listeners> -->
<!-- 		<parameter name="author" value="Asido S" /> -->
<!-- 		<parameter name="emulator" value="false" /> -->
<!-- 		<parameter name="platformName" value="Android" /> -->
<!-- 		<parameter name="platformVersion" value="5.1.1" /> -->
<!-- 		<parameter name="deviceName" value="SM-T285" /> -->
<!-- 		<parameter name="udid" value="52007057b2c3a400" /> -->
<!-- 		<parameter name="appiumPort" value="10000" /> -->
<!-- 		<parameter name="systemPort" value="10001" /> -->
<!-- 		<parameter name="chromeDriverPort" value="11001" /> -->
<!-- 		<parameter name="mjpegServerPort" value="12001" /> -->
<!-- 		<classes> -->
<!-- 					<methods> -->
<!-- 						<include name="kosongkanFooterRow2"/> -->
<!-- 					</methods>  -->
<!-- 			 	</class> -->
<!-- 			 --> -->
<!-- 			 <class name="com.qa.tests.PPOBTest"> -->
<!-- 			 </class> -->
<!-- 		</classes> -->
<!-- 	</test>  -->
	
	<!--
	<test name="Tab12inch" >
		<listeners>
			<listener class-name="com.qa.listeners.TestListener" />
		</listeners>
		<parameter name="author" value="Asido S" />
		<parameter name="emulator" value="false" />
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="7.1.2" />
		<parameter name="deviceName" value="rk3288" />
		<parameter name="udid" value="G7FXO4VYAY" />
		<parameter name="appiumPort" value="10000" />
		<parameter name="systemPort" value="10002" />
		<parameter name="chromeDriverPort" value="11002" />
		<parameter name="mjpegServerPort" value="12002" />
		<classes>
			<class name="com.qa.tests.ProfilTest">
				<methods>
					<include name="kosongkanFooterRow1"/>
				</methods> 
			 </class>
		</classes>
	</test> 
	
	<test name="Tab7inch" >
		<listeners>
			<listener class-name="com.qa.listeners.TestListener" />
		</listeners>
		<parameter name="author" value="Asido S" />
		<parameter name="emulator" value="false" />
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="7.0" />
		<parameter name="deviceName" value="i7u" />
		<parameter name="udid" value="iLitS50S0W7190160260" />
		<parameter name="appiumPort" value="10000" />
		<parameter name="systemPort" value="10003" />
		<parameter name="chromeDriverPort" value="11003" />
		<parameter name="mjpegServerPort" value="12003" />
		<classes>
			<class name="com.qa.tests.ProfilTest">
				<methods>
					<include name="isiSemuaRowFooter"/>
				</methods> 
			 </class>
		</classes>
	</test>
	
	<test name="Galaxy8inchPutih" >
		<listeners>
			<listener class-name="com.qa.listeners.TestListener" />
		</listeners>
		<parameter name="author" value="Asido S" />
		<parameter name="emulator" value="false" />
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="9.0" />
		<parameter name="deviceName" value="SM-T295-Hendro" />
		<parameter name="udid" value="R9CMC04A9NJ" />
		<parameter name="appiumPort" value="10000" />
		<parameter name="systemPort" value="10004" />
		<parameter name="chromeDriverPort" value="11004" />
		<parameter name="mjpegServerPort" value="12004" />
		<classes>
			<class name="com.qa.tests.ProfilTest">
				<methods>
					<include name="kosongkanSemuaRowFooter"/>
				</methods> 
			 </class>
		</classes>
	</test> 
 -->	
	
	<test name="Galaxy8inchPutih" >
		<listeners>
			<listener class-name="com.qa.listeners.TestListener" />
		</listeners>
		<parameter name="author" value="Baggas Anggara" />
		<parameter name="emulator" value="false" />
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="9.0" />
		<parameter name="deviceName" value="SM-T295" />
		<parameter name="udid" value="R9CMC06C14J" />
		<!-- <parameter name="appiumPort" value="10000" /> -->
		<parameter name="systemPort" value="10004" />
		<parameter name="chromeDriverPort" value="11004" />
		<parameter name="mjpegServerPort" value="12004" />
		<classes>
			<class name="com.qa.tests.MenambahDiskonPersenTest">
				<methods>
<!-- 					<include name="isiSemuaRowFooter"/> -->
				</methods> 
			 </class>
		</classes>
	</test> 
	
</suite> <!-- Suite -->
